<section class="campaign-record-content record-edit">
<div class="form-fields-grid">
  {{formGroup systemFields.source value=system.source localize=true}}
  {{formGroup systemFields.status value=system.status localize=true}}
</div>
{{> campaign-record.quest-objectives}}
<div class="form-group stacked">
  <label>{{localize "CAMPAIGNRECORD.Quest.FIELDS.rewards.label"}}</label>
  <prose-mirror name="system.rewards" value="{{system.rewards}}" toggled collaborate data-document-uuid="{{page.uuid}}">{{{enriched.rewards}}}</prose-mirror>
</div>
{{> campaign-record.common-edit}}
</section>
