{{formGroup systemFields.image value=system.image localize=true}}
{{formGroup systemFields.tags value=system.tags localize=true}}
{{#if isGM}}
<div class="form-group gm-only">
  <label>{{localize "CAMPAIGNRECORD.Common.FIELDS.hidden.label"}}</label>
  <button type="button" data-action="toggleHidden">
    {{#if system.hidden}}
      <i class="fa-solid fa-eye-slash"></i> {{localize "CAMPAIGNRECORD.Hidden"}}
    {{else}}
      <i class="fa-solid fa-eye"></i> {{localize "CAMPAIGNRECORD.Visible"}}
    {{/if}}
  </button>
</div>
{{/if}}
<div class="form-group stacked">
  <label>{{localize "CAMPAIGNRECORD.Common.FIELDS.description.label"}}</label>
  <prose-mirror name="system.description" toggled collaborate>{{{enriched.description}}}</prose-mirror>
</div>
{{#if isGM}}
<div class="form-group stacked gm-only">
  <label>{{localize "CAMPAIGNRECORD.Common.FIELDS.gmNotes.label"}}</label>
  <prose-mirror name="system.gmNotes" toggled collaborate>{{{enriched.gmNotes}}}</prose-mirror>
</div>
{{/if}}
