<div class="hub-header">
  <select name="group-select" aria-label="{{localize "CAMPAIGNRECORD.Hub.GroupPicker"}}">
    <option value="all" {{#if allSelected}}selected{{/if}}>{{localize "CAMPAIGNRECORD.Hub.AllGroups"}}</option>
    {{#each groups}}
    <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
    {{/each}}
  </select>
  {{#if canImport}}
  <button type="button" data-action="importDocument" data-tooltip="CAMPAIGNRECORD.Import.Button">
    <i class="fa-solid fa-file-import"></i>
  </button>
  {{/if}}
  <button type="button" data-action="exportGroup" data-tooltip="CAMPAIGNRECORD.Export.GroupButton">
    <i class="fa-solid fa-file-word"></i>
  </button>
  <nav class="tabs" data-group="primary">
    {{#each tabs}}
    <a class="{{this.cssClass}}" data-action="tab" data-group="primary" data-tab="{{this.id}}">
      <i class="{{this.icon}}"></i> {{localize this.label}}
    </a>
    {{/each}}
  </nav>
</div>
