<div class="hub-header">
  {{#if showGroupPicker}}
  <select name="group-select" aria-label="{{localize "CAMPAIGNRECORD.Hub.GroupPicker"}}">
    <option value="all" {{#if allSelected}}selected{{/if}}>{{localize "CAMPAIGNRECORD.Hub.AllGroups"}}</option>
    {{#each groups}}
    <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
    {{/each}}
  </select>
  {{else if headerTitle}}
  <h2 class="hub-title">{{headerTitle}}</h2>
  {{/if}}
  <div class="hub-settings-menu">
    <button type="button" class="hub-settings-trigger" data-action="toggleSettingsMenu"
            data-tooltip="CAMPAIGNRECORD.Hub.Settings" aria-haspopup="true"
            aria-expanded="{{#if settingsMenuOpen}}true{{else}}false{{/if}}">
      <i class="fa-solid fa-gear"></i>
    </button>
    {{#if settingsMenuOpen}}
    <div class="hub-settings-panel" role="menu">
      {{#if canImport}}
      <button type="button" role="menuitem" data-action="importDocument">
        <i class="fa-solid fa-file-import"></i> {{localize "CAMPAIGNRECORD.Import.Button"}}
      </button>
      {{/if}}
      <button type="button" role="menuitem" data-action="exportGroup">
        <i class="fa-solid fa-file-word"></i> {{localize "CAMPAIGNRECORD.Export.GroupButton"}}
      </button>
      <button type="button" role="menuitemcheckbox" data-action="toggleInlineEdit"
              aria-checked="{{#if inlineEditing}}true{{else}}false{{/if}}">
        <i class="fa-solid {{#if inlineEditing}}fa-pen{{else}}fa-pen-slash{{/if}}"></i>
        {{localize "CAMPAIGNRECORD.Hub.ToggleInlineEdit"}}
      </button>
      <button type="button" role="menuitemcheckbox" data-action="toggleSnippets"
              aria-checked="{{#if snippets}}true{{else}}false{{/if}}">
        <i class="fa-solid {{#if snippets}}fa-square-check{{else}}fa-square{{/if}}"></i>
        {{localize "CAMPAIGNRECORD.Hub.Snippets"}}
      </button>
      <hr>
      <div class="hub-order-group" role="group" aria-label="{{localize "CAMPAIGNRECORD.Hub.OrderBy"}}">
        <span class="hub-order-title">{{localize "CAMPAIGNRECORD.Hub.OrderBy"}}</span>
        {{#each orderOptions}}
        <button type="button" role="menuitemradio" data-action="setTimelineOrder" data-order="{{this.value}}"
                aria-checked="{{#if this.selected}}true{{else}}false{{/if}}">
          <i class="fa-solid {{#if this.selected}}fa-circle-dot{{else}}fa-circle{{/if}}"></i>
          {{this.label}}
        </button>
        {{/each}}
      </div>
      <hr>
      <label class="hub-auto-target">
        {{localize "CAMPAIGNRECORD.Hub.AutoTargetLabel"}}
        <select name="auto-target-select">
          <option value="" {{#if autoTargetNoneSelected}}selected{{/if}}>{{localize "CAMPAIGNRECORD.Hub.AutoTargetNone"}}</option>
          {{#each autoTargetOptions}}
          <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    {{/if}}
  </div>
</div>
