<div class="hub-header">
  <select name="group-select" aria-label="{{localize "CAMPAIGNRECORD.Hub.GroupPicker"}}">
    <option value="all" {{#if allSelected}}selected{{/if}}>{{localize "CAMPAIGNRECORD.Hub.AllGroups"}}</option>
    {{#each groups}}
    <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
    {{/each}}
  </select>
  <button type="button" class="hub-inline-edit-toggle" data-action="toggleInlineEdit"
          data-tooltip="CAMPAIGNRECORD.Hub.ToggleInlineEdit"
          aria-pressed="{{#if inlineEditing}}true{{else}}false{{/if}}">
    <i class="fa-solid {{#if inlineEditing}}fa-pen{{else}}fa-pen-slash{{/if}}"></i>
  </button>
  <nav class="tabs" data-group="primary">
    {{#each tabs}}
    <a class="{{this.cssClass}}" data-action="tab" data-group="primary" data-tab="{{this.id}}">
      <i class="{{this.icon}}"></i> {{localize this.label}}
    </a>
    {{/each}}
  </nav>
</div>
