<section class="hub-index">
  <div class="rail-row">
    <button type="button" class="rail-toggle" data-action="toggleRail"
            data-tooltip="CAMPAIGNRECORD.Hub.ToggleRail"
            aria-label="{{localize "CAMPAIGNRECORD.Hub.ToggleRail"}}">
      <i class="fa-solid fa-angles-left"></i>
    </button>
  </div>
  <div class="doctype-filter">
    <button type="button" class="doctype-summary" aria-haspopup="true"
            aria-expanded="{{#if typeMenuOpen}}true{{else}}false{{/if}}"
            data-tooltip="CAMPAIGNRECORD.Hub.TypeFilter"
            aria-label="{{localize "CAMPAIGNRECORD.Hub.TypeFilter"}}">
      <i class="fa-solid fa-filter"></i>
      <span class="doctype-summary-label">{{#if typeMenuOpen}}{{localize "CAMPAIGNRECORD.Hub.AllTypes"}}{{else}}{{doctypeFilter.summary}}{{/if}}</span>
    </button>
    {{#if typeMenuOpen}}
    <div class="doctype-menu">
      {{#each doctypeFilter.items}}
      <label class="doctype-option">
        <input type="checkbox" name="doctype-check" value="{{this.type}}" {{#if this.checked}}checked{{/if}}>
        <i class="{{this.icon}}"></i> {{this.label}}
      </label>
      {{/each}}
    </div>
    {{/if}}
  </div>
  <div class="index-controls">
    <input type="search" name="index-search" value="{{state.query}}"
           placeholder="{{localize "CAMPAIGNRECORD.Hub.FilterTag"}}" autocomplete="off">
    <label class="snippets-toggle">
      <input type="checkbox" name="snippets-toggle" data-action="toggleSnippets"
             {{#if snippets}}checked{{/if}}>
      {{localize "CAMPAIGNRECORD.Hub.Snippets"}}
    </label>
    <select name="sort-select">
      {{#each sortOptions}}
      <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
    {{#if isGM}}
    <button type="button" class="hidden-toggle {{#if state.hiddenOnly}}active{{/if}}"
            data-action="toggleHiddenOnly" data-tooltip="CAMPAIGNRECORD.Hub.HiddenOnly">
      <i class="fa-solid fa-eye-slash"></i>
    </button>
    {{/if}}
    {{#if hasActiveFilters}}
    <span class="filtered-count">{{localize "CAMPAIGNRECORD.Hub.FilteredCount" shown=filteredCount total=totalCount}}</span>
    {{/if}}
  </div>
  {{#if otherGroupMatches}}
  <button type="button" class="other-group-matches" data-action="clearFilters">
    {{localize "CAMPAIGNRECORD.Hub.OtherGroupMatches" count=otherGroupMatches}}
  </button>
  {{/if}}
  <ol class="record-list">
    {{#if grouped}}
      {{#each recordGroups}}
      <li class="record-group-header">{{this.label}}</li>
      {{#each this.records}}{{> campaign-record.hub-index-row}}{{/each}}
      {{/each}}
    {{else}}
      {{#each records}}{{> campaign-record.hub-index-row}}{{/each}}
    {{/if}}
    {{#unless records.length}}
    <li class="hint">{{localize "CAMPAIGNRECORD.Hub.NoRecords"}}</li>
    {{/unless}}
  </ol>
</section>
