<section class="tab hub-index{{#if tabs.index.active}} active{{/if}}" data-group="primary" data-tab="index">
  <multi-select name="type-filter" class="type-filter"
                aria-label="{{localize "CAMPAIGNRECORD.Hub.TypeFilter"}}">
    {{#each typeFilterOptions}}
    <option value="{{this.type}}" {{#if this.active}}selected{{/if}}>{{this.label}}</option>
    {{/each}}
  </multi-select>
  <div class="index-controls">
    <input type="search" name="index-search" value="{{state.query}}"
           placeholder="{{localize "CAMPAIGNRECORD.Hub.FilterTag"}}" autocomplete="off">
    <label class="snippets-toggle">
      <input type="checkbox" name="snippets-toggle" data-action="toggleSnippets"
             {{#if snippets}}checked{{/if}}>
      {{localize "CAMPAIGNRECORD.Hub.Snippets"}}
    </label>
    <select name="sort-select">
      {{#each sortOptions}}
      <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
    {{#if isGM}}
    <button type="button" class="hidden-toggle {{#if state.hiddenOnly}}active{{/if}}"
            data-action="toggleHiddenOnly" data-tooltip="CAMPAIGNRECORD.Hub.HiddenOnly">
      <i class="fa-solid fa-eye-slash"></i>
    </button>
    {{/if}}
    {{#if hasActiveFilters}}
    <span class="filtered-count">{{localize "CAMPAIGNRECORD.Hub.FilteredCount" shown=filteredCount total=totalCount}}</span>
    <button type="button" class="clear-filters" data-action="clearFilters"
            data-tooltip="CAMPAIGNRECORD.Hub.ClearFilters">
      <i class="fa-solid fa-filter-circle-xmark"></i>
    </button>
    {{/if}}
    <button type="button" data-action="newRecord">
      <i class="fa-solid fa-plus"></i> {{localize "CAMPAIGNRECORD.Hub.NewRecord"}}
    </button>
  </div>
  {{#if otherGroupMatches}}
  <button type="button" class="other-group-matches" data-action="clearFilters">
    {{localize "CAMPAIGNRECORD.Hub.OtherGroupMatches" count=otherGroupMatches}}
  </button>
  {{/if}}
  <ol class="record-list">
    {{#each records}}
    <li class="record-row" data-uuid="{{this.uuid}}"
        {{#if this.canAttach}}data-drag-record draggable="true"{{/if}}
        data-action="openRecord">
      <i class="record-type-icon {{this.icon}}" data-tooltip="{{this.typeLabel}}"></i>
      <span class="record-name">{{this.name}}
        {{#if this.hidden}}<i class="fa-solid fa-eye-slash" data-tooltip="CAMPAIGNRECORD.Hidden"></i>{{/if}}
      </span>
      <span class="record-subtitle">{{this.subtitle}}</span>
      {{#if @root.snippets}}{{#if this.matches.length}}
      <div class="record-snippets">
        {{#each this.matches}}
        <span class="hit-snippet"><strong>{{this.field}}:</strong> {{this.snippet}}</span>
        {{/each}}
      </div>
      {{/if}}{{/if}}
    </li>
    {{else}}
    <li class="hint">{{localize "CAMPAIGNRECORD.Hub.NoRecords"}}</li>
    {{/each}}
  </ol>
</section>
