<li class="record-row{{#if this.current}} current{{/if}}" data-uuid="{{this.uuid}}"
    data-drag-record draggable="true"
    data-action="openRecord">
  {{#if this.image}}
  <img class="record-thumb" src="{{this.image}}" alt="" data-tooltip="{{this.typeLabel}}">
  {{else}}
  <i class="record-type-icon {{this.icon}}" data-tooltip="{{this.typeLabel}}"></i>
  {{/if}}
  <span class="record-name">{{this.name}}
    {{#if this.hidden}}<i class="fa-solid fa-eye-slash" data-tooltip="CAMPAIGNRECORD.Hidden"></i>{{/if}}
  </span>
  <span class="record-subtitle">{{this.subtitle}}</span>
  {{#if @root.snippets}}{{#if this.matches.length}}
  <div class="record-snippets">
    {{#each this.matches}}
    <span class="hit-snippet"><strong>{{this.field}}:</strong> {{this.snippet}}</span>
    {{/each}}
  </div>
  {{/if}}{{/if}}
</li>
