<section class="hub-record {{#if view}}active{{/if}}">
  <header class="record-pane-header">
    {{> campaign-record.hub-right-nav}}
    {{#if view}}
    {{#if view.nameEditable}}
    <input type="text" class="record-pane-title" name="name" value="{{view.name}}"
           aria-label="{{localize "CAMPAIGNRECORD.Hub.RecordName"}}" />
    {{else}}
    <h2 class="record-pane-title">{{view.name}}</h2>
    {{/if}}
    <button type="button" class="new-record" data-action="newRecord"
            data-tooltip="CAMPAIGNRECORD.Hub.NewRecord" aria-label="{{localize "CAMPAIGNRECORD.Hub.NewRecord"}}">
      <i class="fa-solid fa-plus"></i>
    </button>
    {{#if view.showEditToggle}}
    <button type="button" class="edit-toggle" data-action="toggleEditMode"
            data-tooltip="{{#if view.editing}}CAMPAIGNRECORD.Hub.DoneEditing{{else}}CAMPAIGNRECORD.Hub.EditRecord{{/if}}"
            aria-label="{{#if view.editing}}{{localize "CAMPAIGNRECORD.Hub.DoneEditing"}}{{else}}{{localize "CAMPAIGNRECORD.Hub.EditRecord"}}{{/if}}">
      <i class="fa-solid {{#if view.editing}}fa-eye{{else}}fa-pen-to-square{{/if}}"></i>
    </button>
    {{/if}}
    <button type="button" class="close-record" data-action="closeRecord"
            data-tooltip="CAMPAIGNRECORD.Hub.CloseRecord"
            aria-label="{{localize "CAMPAIGNRECORD.Hub.CloseRecord"}}">
      <i class="fa-solid fa-xmark"></i>
    </button>
    {{/if}}
  </header>
  {{#if view}}
  <div class="record-pane-body">
    <div class="record-pane-mount journal-entry-page"></div>
  </div>
  {{/if}}
</section>
