<section class="hub-timeline">
  <div class="timeline-tools">
    {{> campaign-record.hub-right-nav}}
    <button type="button" class="new-record" data-action="newRecord"
            data-tooltip="CAMPAIGNRECORD.Hub.NewRecord" aria-label="{{localize "CAMPAIGNRECORD.Hub.NewRecord"}}">
      <i class="fa-solid fa-plus"></i>
    </button>
    <button type="button" data-action="toggleThumbnails"
            class="{{#if thumbnails}}active{{/if}}"
            data-tooltip="CAMPAIGNRECORD.Hub.ToggleThumbnails">
      <i class="fa-solid fa-image"></i>
    </button>
  </div>
  {{#each timelineGroups}}
  <section class="timeline-group" data-group-id="{{this.id}}">
    {{#if @root.allSelected}}<h3>{{this.name}}</h3>{{/if}}
    <ol class="timepoints">
      {{#each this.timepoints}}
      <li class="timepoint" data-timepoint-id="{{this.id}}" data-position="{{this.position}}"
          data-drag-timepoint data-drop-timepoint draggable="true">
        <div class="timepoint-head">
          <span class="timepoint-label">{{this.label}}</span>
          {{#if this.canEdit}}
          <button type="button" data-action="addTimepoint" data-position="{{this.position}}"
                  data-tooltip="CAMPAIGNRECORD.Hub.InsertBefore"><i class="fa-solid fa-arrow-up"></i></button>
          <button type="button" data-action="renameTimepoint"
                  data-tooltip="CAMPAIGNRECORD.Hub.RenameTimepoint"><i class="fa-solid fa-pen"></i></button>
          <button type="button" data-action="deleteTimepoint"
                  data-tooltip="CAMPAIGNRECORD.Hub.DeleteTimepoint"><i class="fa-solid fa-trash"></i></button>
          {{/if}}
        </div>
        <div class="timepoint-records">
          {{#each this.records}}
          <span class="record-chip" data-uuid="{{this.uuid}}"
                data-action="openRecord">{{this.name}}
            {{#if ../canEdit}}
            <a data-action="detachRecord" data-tooltip="CAMPAIGNRECORD.Hub.Detach"><i class="fa-solid fa-xmark"></i></a>
            {{/if}}
          </span>
          {{/each}}
          {{#each this.links}}
          <span class="record-chip link-chip{{#if this.broken}} broken{{/if}}"
                data-link-id="{{this.id}}" data-action="openLink" data-name="{{this.name}}"
                {{#if this.uuid}}data-uuid="{{this.uuid}}"{{/if}}
                {{#if this.src}}data-src="{{this.src}}"{{/if}}>
            {{#if this.thumb}}<img class="link-thumb" src="{{this.thumb}}" alt="">{{else}}<i class="{{this.icon}}"></i>{{/if}}
            {{this.name}}
            {{#if this.canToggleVisibility}}
            <a data-action="toggleLinkShowPlayers" data-tooltip="CAMPAIGNRECORD.Hub.ToggleShowPlayers"><i class="fa-solid {{#if this.showPlayers}}fa-eye{{else}}fa-eye-slash{{/if}}"></i></a>
            {{/if}}
            {{#if ../canEdit}}
            <a data-action="removeLink" data-tooltip="CAMPAIGNRECORD.Hub.RemoveLink"><i class="fa-solid fa-xmark"></i></a>
            {{/if}}
          </span>
          {{/each}}
        </div>
      </li>
      {{else}}
      <li class="hint">{{localize "CAMPAIGNRECORD.Hub.NoTimepoints"}}</li>
      {{/each}}
    </ol>
    {{#if this.canEdit}}
    <button type="button" data-action="addTimepoint">
      <i class="fa-solid fa-plus"></i> {{localize "CAMPAIGNRECORD.Hub.AddTimepoint"}}
    </button>
    {{/if}}
  </section>
  {{/each}}
</section>
