<div class="import-wizard">
  {{#if isSource}}
  <p class="hint">{{localize "CAMPAIGNRECORD.Import.ReviewHint"}}</p>
  {{#each sources}}
  <fieldset class="import-source" data-source-id="{{this.id}}">
    <legend>{{localize this.labelKey}}</legend>
    <p class="hint">{{localize this.hintKey}}</p>
    <input type="file" name="file-{{this.id}}" accept="{{this.accept}}"
           aria-label="{{localize "CAMPAIGNRECORD.Import.ChooseFile"}}">
  </fieldset>
  {{/each}}
  <p class="cr-reading" hidden>{{localize "CAMPAIGNRECORD.Import.ReadingDocument"}}</p>
  <footer class="form-footer">
    <button type="button" data-action="cancel">{{localize "CAMPAIGNRECORD.Import.Cancel"}}</button>
  </footer>
  {{/if}}

  {{#if isReview}}
  <form class="import-review">
    <div class="form-group">
      <label>{{localize "CAMPAIGNRECORD.Import.TargetGroup"}}</label>
      <select name="target-group">
        <option value="" {{#unless groupId}}selected{{/unless}}>{{localize "CAMPAIGNRECORD.Import.NewGroup"}}</option>
        {{#each groups}}<option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>{{/each}}
      </select>
      <input type="text" name="group-name" value="{{groupName}}"
             aria-label="{{localize "CAMPAIGNRECORD.Import.GroupName"}}">
    </div>
    <table class="import-sections">
      <thead><tr>
        <th>{{localize "CAMPAIGNRECORD.Import.SectionTitle"}}</th>
        <th>{{localize "CAMPAIGNRECORD.Import.SectionType"}}</th>
        <th>{{localize "CAMPAIGNRECORD.Import.Timepoint"}}</th>
        <th>{{localize "CAMPAIGNRECORD.Import.Adjust"}}</th>
      </tr></thead>
      <tbody>
        {{#each rows}}
        <tr data-index="{{this.index}}">
          <td>
            <input type="text" name="title-{{this.index}}" value="{{this.title}}">
            <p class="hint">{{this.preview}} ({{this.wordCount}} {{localize "CAMPAIGNRECORD.Import.Words"}})</p>
          </td>
          <td>
            <select name="type-{{this.index}}">
              {{#each this.typeOptions}}
              <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
              {{/each}}
            </select>
          </td>
          <td>
            <input type="checkbox" name="timepoint-{{this.index}}" {{#if this.timepoint}}checked{{/if}}>
            {{#if this.date}}<span class="hint">{{this.date}}</span>{{/if}}
          </td>
          <td class="cr-adjust">
            <button type="button" data-action="mergeUp" data-tooltip="CAMPAIGNRECORD.Import.MergeUp"
                    aria-label="{{localize "CAMPAIGNRECORD.Import.MergeUp"}}"
                    {{#unless this.canMergeUp}}disabled{{/unless}}>
              <i class="fa-solid fa-arrow-up-to-line"></i>
            </button>
            <button type="button" data-action="splitSection" data-tooltip="CAMPAIGNRECORD.Import.Split"
                    aria-label="{{localize "CAMPAIGNRECORD.Import.Split"}}"
                    {{#unless this.canSplit}}disabled{{/unless}}>
              <i class="fa-solid fa-scissors"></i>
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <footer class="form-footer">
      <button type="button" data-action="cancel">{{localize "CAMPAIGNRECORD.Import.Cancel"}}</button>
      <button type="button" data-action="backToSource">{{localize "CAMPAIGNRECORD.Import.Back"}}</button>
      <button type="button" data-action="createImport" class="bright">
        {{localize "CAMPAIGNRECORD.Import.Create"}}
      </button>
    </footer>
  </form>
  {{/if}}
</div>
