<section class="campaign-record-content record-edit">
<div class="form-fields-grid">
  {{formGroup systemFields.playerName value=system.playerName localize=true}}
  {{formGroup systemFields.classLevel value=system.classLevel localize=true}}
  {{formGroup systemFields.faction value=system.faction localize=true}}
</div>
<div class="form-group campaign-record-drop">
  <label>{{localize "CAMPAIGNRECORD.Pc.FIELDS.actor.label"}}</label>
  {{#if enriched.actorLink}}{{{enriched.actorLink}}}{{else}}
    <span class="hint">{{localize "CAMPAIGNRECORD.DropActorHint"}}</span>
  {{/if}}
  <button type="button" data-action="linkActor">
    <i class="fa-solid fa-link"></i> {{localize "CAMPAIGNRECORD.LinkActor"}}
  </button>
  {{> campaign-record.actor-info}}
</div>
{{> campaign-record.common-edit}}
</section>
