<section class="campaign-record-content record-edit">
<div class="form-fields-grid">
  {{formGroup systemFields.location value=system.location localize=true}}
  {{formGroup systemFields.difficulty value=system.difficulty localize=true}}
  {{formGroup systemFields.outcome value=system.outcome localize=true}}
</div>
{{> campaign-record.encounter-combatants}}
<div class="form-group campaign-record-drop">
  <label>{{localize "CAMPAIGNRECORD.Encounter.FIELDS.scene.label"}}</label>
  {{#if enriched.sceneLink}}{{{enriched.sceneLink}}}{{else}}
    <span class="hint">{{localize "CAMPAIGNRECORD.DropSceneHint"}}</span>
  {{/if}}
  <button type="button" data-action="linkScene">
    <i class="fa-solid fa-link"></i> {{localize "CAMPAIGNRECORD.LinkScene"}}
  </button>
</div>
{{> campaign-record.common-edit}}
</section>
